@keyframes cascade {
  0% {
    opacity: 0;
    transform: translateY(-250%);
  }
  30%, 60% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(250%);
  }
}

.loadingScreen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .cascade {
    height: 20px;
    position: relative;
    display: grid;
    grid-template-columns: repeat(5, 20px);
    grid-gap: 5px;

    div {
      background: var(--color-primary);

      &:nth-child(1) {
        animation: cascade 1.5s 0.15s ease infinite backwards;
      }

      &:nth-child(2) {
        animation: cascade 1.5s 0.3s ease infinite backwards;
      }

      &:nth-child(3) {
        animation: cascade 1.5s 0.45s ease infinite backwards;
      }

      &:nth-child(4) {
        animation: cascade 1.5s 0.6s ease infinite backwards;
      }

      &:nth-child(5) {
        animation: cascade 1.5s 0.75s ease infinite backwards;
      }
    }
  }
}