$principalColor: #4f1de2;
$principalLightColor: rgba(255,255,255,0.75);
$principalDarkColor: rgba(0,0,0,0.75);

$cardTransparent: 0.95;
/* $card0: #FF9900;
$card1: #e5ff00;
$card2: #65ff00;
$card3: #00ff1b;
$card4: #00FF9B;
$card5: #00E3FF;
$card6: #0063FF;
$card7: #1D00FF;
$card8: #9C00FF;
$card9: #FF00E3; */
$card0: #000000;
$card1: #242424;
$card2: #000000;
$card3: #242424;
$card4: #000000;
$card5: #242424;
$card6: #000000;
$card7: #242424;
$card8: #000000;
$card9: #242424;