:root {
  --color-primary: #f3bf2f;
  --color-secondary: #7d25b3;
  --color-tertiary: #DD3E9D;
  --color-gray: #f4f4f4;
  --color-darkGray: #e5e5e5;
  --color-white: #ffffff;
  --color-black: #141414;
}