.trail {
  z-index: 10000;
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
  display: grid;
  gap: 1rem;
  text-align: center;
  font-size: 14px;

  &#light div{
    border-top: 3px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
  }

  @media only screen and (max-width: 650px) {
      width: 90%;
      bottom: 13%;
  }

  div {
    padding: 1rem 2rem;
    border-top: 3px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    cursor: pointer;
    opacity: .3;
    transition: all 0.3s ease;

    &:hover {opacity: .6;}

    &#active {
      opacity: 1 !important;
    }
  }
}