.container {
  height: 100%;
  overflow-y: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  grid-auto-flow: row;
  grid-auto-rows: calc(50% - 10px);
  padding-right: 10px;

  .project {
    display: flex;
    flex-direction: column;
    background-color: var(--color-black-opacity);
    border-radius: 10px;
    gap: 20px;
    justify-content: space-between;

    .content {
      display: flex;
      flex-direction: column;
      gap: 10px;

      > h3 {
        background-color: var(--color-primary-opacity);
        color: var(--color-black);
        padding: 10px;
        width: 100%;
        box-sizing: border-box;
        text-align: center;
        border-radius: 6px 6px 0 0;
      }

      > p {
        text-align: justify;
        padding: 0 20px;
      }
    }

    .technologies {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      padding: 0 20px;
      justify-content: center;
      overflow-y: auto;
    }

    .links {
      display: flex;
      gap: 10px;
      justify-content: flex-start;
      padding: 20px;
      padding-top: 0;

      a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border: 2px solid var(--color-white);
        border-radius: 50%;
        color: var(--color-white);
        transition: background-color 0.5s, color 0.5s;
        box-sizing: border-box;
        cursor: pointer;

        > svg {
          width: 20px;
          height: 20px;
        }

        &:hover {
          background-color: var(--color-white);
          color: var(--color-black);
        }
      }
    }
  }

  @media screen and (width <= 1536px) {
    grid-template-columns: 1fr 1fr;
  }

  @media screen and (width <= 1024px) {
    grid-template-columns: 1fr;
  }

  @media screen and (width <= 640px) {
    grid-auto-rows: calc(100% - 10px);
  }
}