@import "@/styles/buttons.css";

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 20px;
  padding: 20px;
  box-sizing: border-box;
  z-index: 10;

  .logo {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;

    img {
      width: 50px;
      height: auto;
    }

    .texts {
      display: grid;
      grid-template-rows: repeat(2, auto);
    }
  }

  .social {
    display: flex;
    gap: 10px;

    button {
      padding: 4px;
      aspect-ratio: 1/1;

      svg {
        width: 100%;
        height: 100%;
        color: var(--color-white);
        transition: all 0.3s ease;
      }

      &:hover {
        svg {
          color: var(--color-primary);
        }
      }
    }
  }

  .menu {
    display: flex;
    align-items: center;

    .hamburguer {
      cursor: pointer;
      display: grid;
      grid-template-rows: repeat(3, auto);
      gap: 6px;
      z-index: 10;

      span {
        display: block;
        width: 30px;
        height: 3px;
        background-color: var(--color-white);
        border-radius: 5px;
        transition: 0.3s;
      }
    }

    &#active {
      span {
        background-color: var(--color-black);
      }

      .hamburguer {
        span:nth-child(1) {
          transform: rotate(45deg) translate(6px, 6px);
        }
        span:nth-child(2) {
          opacity: 0;
        }
        span:nth-child(3) {
          transform: rotate(-45deg) translate(6px, -6px);
        }
      }
    }

    nav {
      position: absolute;
      top: 0;
      right: 0;
      height: 100dvh;
      background: #fff;
      overflow: hidden;

      ul,
      li {
        margin: 0;
        padding: 0;
      }

      ul {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 25px;
        padding-top: 60px;
        width: 100%;
        box-sizing: border-box;

        li {
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;

          > h3 {
            color: var(--color-black);

            &:hover,
            &.selected {
              color: var(--color-primary);
            }
          }
        }
      }
    }
  }

  @media screen and (width <= 768px) {
    .social {
      visibility: hidden;
    }
  }
}
