.container {
  overflow-y: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  height: 100%;
  gap: 20px;
  align-items: center;

  .descriptionContainer {
    margin: 20px 0;
    max-height: calc(100% - 40px);
    border-radius: 10px;
    /* border: 2px solid var(--color-primary); */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--color-black-opacity);

    .content {
      display: flex;
      flex-direction: column;

      > h3 {
        background-color: var(--color-primary-opacity);
        color: var(--color-black);
        padding: 5px;
        width: 100%;
        box-sizing: border-box;
        text-align: center;
        border-radius: 6px 6px 0 0;
      }

      > ul  {
        padding: 20px;
      }

      .description {
        display: flex;
        flex-direction: column;
        gap: 10px;

        > li {
          &::before {
            content: '';
            width: 10px;
            height: 10px;
            background-color: var(--color-primary);
            border-radius: 50%;
            display: inline-block;
            margin-right: 10px;
          }
        }
      }
    }

    .technologies {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 20px;
      padding: 20px;
    }
  }

  @media screen and (width <= 768px) {
    grid-template-columns: 1fr;
    padding-right: 10px;

    .descriptionContainer {
      display: none;
    }
  }
}
